amqp==5.3.1
annotated-types==0.7.0
asgiref==3.11.1
billiard==4.2.4
celery==5.6.3
celery-types==0.26.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cryptography==46.0.6
Django==6.0.3
django-filter==25.2
django-stubs==6.0.2
django-stubs-ext==6.0.2
djangorestframework==3.17.1
djangorestframework-stubs==3.16.9
Faker==40.12.0
hiredis==3.3.1
idna==3.11
jsonpath-ng==1.8.0
kagglehub==1.0.0
kagglesdk==0.1.16
kombu==5.6.2
Markdown==3.10.2
ml_dtypes==0.5.4
more-itertools==10.8.0
numpy==2.4.4
packaging==26.0
prompt_toolkit==3.0.52
protobuf==7.34.1
psycopg2-binary==2.9.11
pycparser==3.0
pydantic==2.12.5
pydantic-extra-types==2.11.1
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
python-ulid==3.1.0
PyYAML==6.0.3
redis==7.4.0
redis-om==1.1.0
redisvl==0.16.0
requests==2.33.1
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
tenacity==9.1.4
tqdm==4.67.3
types-cffi==2.0.0.20260402
types-pyOpenSSL==24.1.0.20240722
types-PyYAML==6.0.12.20250915
types-redis==4.6.0.20241004
types-setuptools==82.0.0.20260402
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
tzlocal==5.3.1
urllib3==2.6.3
uuid==1.30
vine==5.1.0
wcwidth==0.6.0
wheel==0.46.3
